@font-face {
  src: local('Source Sans Pro'),
    url(./Source_Sans_Pro/SourceSansPro-ExtraLight.ttf) format('truetype');
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro' serif;
}

/*sans-serif*/
